.main{
    margin:100px;
    padding: 20px;
 
}


.mycard{
    background-color: white;
    box-shadow: 0px 2px 6px #c5c5c5;
    padding: 20px;
    width: 100%;
    margin: 40px 0px;
    border-radius: 20px;
}

.middle{
    width: 300px;
    padding: 20px;
}

.pricing{
    padding: 20px;
    border-left: solid 1.5px lightgray;
}
.middle p{
    margin-top: 15px;
    color: gray;
}
.imagewrapper{
    margin: 0px 20px 0px 0px ;
}


